<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">


<header th:replace="fragments :: header"></header>
<!--<p th:text = "${errorMsg}" style="color: red;"></p>-->

<form method="post" action="/events/create">
    <div class="form-group">
        <label>Name
            <input type="text" th:field="${event.name}" class="form-control">
        </label>
        <p class ="error" th:errors="${event.name}"></p>
    </div>
    <div class="form-group">
        <label>Description
            <input type="text" th:field="${event.eventDetails.description}" class="form-control">
        </label>
        <p class ="error" th:errors="${event.eventDetails.description}"></p>
    </div>
    <div class="form-group">
        <label>Contact Email
            <input type="text" th:field="${event.eventDetails.contactEmail}" class="form-control">
        </label>
        <p class ="error" th:errors="${event.eventDetails.contactEmail}"></p>
    </div>
<!--    <div class="form-group">-->
<!--        <label>Location-->
<!--            <input type="text" th:field="${event.location}" class="form-control">-->
<!--        </label>-->
<!--        <p class ="error" th:errors="${event.location}"></p>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--        <label>Registration Required-->
<!--            <input type="checkbox" th:field="${event.registrationRequired}" class="form-control">-->
<!--        </label>-->
<!--        <p class ="error" th:errors="${event.registrationRequired}"></p>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--        <label>Number of Attendees-->
<!--            <input type="number" th:field="${event.numberOfAttendees}" class="form-control">-->
<!--        </label>-->
<!--        <p class ="error" th:errors="${event.numberOfAttendees}"></p>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--        <label>Date-->
<!--            <input type="date" th:field="${event.dateOfEvent}" class="form-control">-->
<!--        </label>-->
<!--        <p class ="error" th:errors="${event.dateOfEvent}"></p>-->
<!--    </div>-->

    <div class="form-group">
        <label>Category
            <select th:field="${event.eventCategory}">
                <option th:value="NULL" th:text="NULL"></option>
                <option th:each="eventCategory : ${categories}"
                        th:value="${eventCategory.id}"
                        th:text="${eventCategory.name}"></option>

             </select>
                    <p class ="error" th:errors="${event.eventCategory}"></p>
        </label>

    </div>

    <div class="form=group">
    <input type="submit" value="Create Event" class="btn btn-success">
    </div>
</form>

</body>
</html>